*{font-family: 'Times New Roman', Times, serif;
background-color:whitesmoke;
}

.portfolio{
    background-image: url("media/menu_images/gallery.jpg");
}


#parent div {
    display:none;

}
#parent div:first-child {
    display:block;
}
.box {background: bisque
}

#parent > div{
    width:400px;
    height:250px;
}